<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Jee_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
        <form-login-page>/auth.jsp</form-login-page>
        <form-error-page>/login-error.jsp</form-error-page>
    </form-login-config>
</login-config>
  
  <servlet>
    <description></description>
    <display-name>SignalementServlet</display-name>
    <servlet-name>SignalementServlet</servlet-name>
    <servlet-class>controleur.SignalementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignalementServlet</servlet-name>
    <url-pattern>/SignalementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuiviDechetsServlet</display-name>
    <servlet-name>SuiviDechetsServlet</servlet-name>
    <servlet-class>controleur.SuiviDechetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuiviDechetsServlet</servlet-name>
    <url-pattern>/SuiviDechetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletQualiteAir</display-name>
    <servlet-name>ServletQualiteAir</servlet-name>
    <servlet-class>controleur.ServletQualiteAir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletQualiteAir</servlet-name>
    <url-pattern>/ServletQualiteAir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutTerrainServlet</display-name>
    <servlet-name>AjoutTerrainServlet</servlet-name>
    <servlet-class>controleur.AjoutTerrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutTerrainServlet</servlet-name>
    <url-pattern>/AjoutTerrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualisationTerrainServlet</display-name>
    <servlet-name>VisualisationTerrainServlet</servlet-name>
    <servlet-class>controleur.VisualisationTerrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualisationTerrainServlet</servlet-name>
    <url-pattern>/VisualisationTerrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TerrainDetailsServlet</display-name>
    <servlet-name>TerrainDetailsServlet</servlet-name>
    <servlet-class>controleur.TerrainDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerrainDetailsServlet</servlet-name>
    <url-pattern>/TerrainDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationTerrainServlet</display-name>
    <servlet-name>ReservationTerrainServlet</servlet-name>
    <servlet-class>controleur.ReservationTerrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationTerrainServlet</servlet-name>
    <url-pattern>/ReservationTerrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>controleur.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
</web-app>